.card-hand {
  flex: 1;
  display: flex;
  justify-content:space-around;
  position: relative;
  min-height: 200px;
  perspective: 1000px;
}

.card {
  position: absolute;
  width: 100px;
  /* adjust as needed */
  height: 150px;
  /* adjust as needed */
  transition: transform 0.5s;
}