.card-hand {
  flex: 1;
  display: flex;
  justify-content: space-around;
  position: relative;
  min-height: 200px;
  perspective: 1000px;
}

.card {
  position: absolute;
  width: 100px;
  /* adjust as needed */
  height: 150px;
  /* adjust as needed */
  transition: transform 0.5s, opacity 0.5s;
  /* transition for the opacity and transform */
  transform-origin: bottom center;
}

.card-selected {
  transform: translateY(-200%) !important;
  /* move the card up and out of the hand */
  opacity: 0;
  /* fade the card out */
}