.card-hand {
  flex: 1;
  display: flex;
  justify-content: space-around;
  position: relative;
  min-height: 200px;
  perspective: 1000px;
}

.card {
  position: absolute;
  width: 100px;
  height: 150px;
  transition: transform 0.5s, opacity 0.5s;
  transform-origin: bottom center;
}

.card-selected {
    transform: translateY(-200%) !important;
  /* transform: translateY(-200%) !important; */
  opacity: 0.2;
}