.playing-table {
  position: relative;
  width: 500px;
  height: 500px;
  border: 10px solid rgb(1, 6, 98);
  background-color: azure;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(circle at 40% 91%, rgba(251, 251, 251, 0.04) 0%, rgba(251, 251, 251, 0.04) 50%, rgba(229, 229, 229, 0.04) 50%, rgba(229, 229, 229, 0.04) 100%), radial-gradient(circle at 66% 97%, rgba(36, 36, 36, 0.04) 0%, rgba(36, 36, 36, 0.04) 50%, rgba(46, 46, 46, 0.04) 50%, rgba(46, 46, 46, 0.04) 100%), radial-gradient(circle at 86% 7%, rgba(40, 40, 40, 0.04) 0%, rgba(40, 40, 40, 0.04) 50%, rgba(200, 200, 200, 0.04) 50%, rgba(200, 200, 200, 0.04) 100%), radial-gradient(circle at 15% 16%, rgba(99, 99, 99, 0.04) 0%, rgba(99, 99, 99, 0.04) 50%, rgba(45, 45, 45, 0.04) 50%, rgba(45, 45, 45, 0.04) 100%), radial-gradient(circle at 75% 99%, rgba(243, 243, 243, 0.04) 0%, rgba(243, 243, 243, 0.04) 50%, rgba(37, 37, 37, 0.04) 50%, rgba(37, 37, 37, 0.04) 100%), linear-gradient(90deg, rgb(34, 222, 237), rgb(135, 89, 215));
}

.player {
  position: absolute;
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: darkblue
}

.partner {
  top: 0;
  left: 50%;
  transform: translate(-50%, 10%);
}

.left-player {
  left: 0;
  top: 50%;
  transform: translate(2%, -50%);
}

.right-player {
  right: 0;
  top: 50%;
  transform: translate(-2%, -50%);
}

.active-user {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -10%);
  flex-direction: column;
}

.user-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.player-card {
  width: 50px;
  height: auto;
  position: absolute;
}

.active-user-card {
  top: -150px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
}

.partner-card {
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
}

.left-player-card {
  right: -120px;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
}

.right-player-card {
  left: -120px;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
}

.player-name-container{
  display: flex;
  flex-direction: row;
  column-gap: 10px;

}

.player-name {
  font-size: 20px;
  font-weight: semi-bold;
}

.player-name-container .trump-suit-icon {
  width: 32px;
}